@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.animate-in {
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}